@CHARSET "ISO-8859-1";

@import 'keys.scss';
@import 'popup.scss';

@import 'subTopBar.scss';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
          border-radius: $radius;
}

$container_padding : 10px;
$image_highlight_color: #567A63;

@import 'itemDetail';

html, body {
  width: 100%;
  background: #FFF;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #333;
  background-color: white;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

h1 {
  line-height: 1.2em;
  font-size: 23px;
  color: #37addf;
  font-weight: 400;
}

h2{

  line-height: 1.2em;
  font-size: 20px;
  color: #696969;
}

input[disabled] {
  cursor: default;
  opacity: 0.5;
}

td{
  -webkit-font-smoothing: antialiased;
  border-bottom-color: rgb(214, 214, 214);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  cursor: pointer;
  display: table-cell;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 48px;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 13px;
  text-align: left;
  vertical-align: middle;
  //width: 493px;
  overflow:hidden;
  word-wrap:break-word;
}

#resultTable,#headerTable{
  width:100%;
  //table-layout: fixed;
  .titleContainer{
    float:left;
    position:relative;
  }
  .smallThumb{
    float:left;
    position:relative;
    width:52px;
    height:52px;
    margin-right:10px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .titleText{
    float:left;
    position:relative;
    //margin-left:10px;
    //margin: 16px 0px;
  }
}
#noResultMsg{
  width:100%;
  text-align: center;
  display: none;
}


th{
  width: 100px;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #6c6f71;
}

.headRow{
  display:none;
}
.headRow:hover{
  background:white;
}

#container {
  //max-width: 960px;
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  margin-top:82px;
  max-width: 1200px;

}

#loadContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000;
}

.pages-route{
	position: relative;
	width: 100%;
	height: auto;
    margin-bottom: 15px;

    float: left;

    a{
      float:left;
      outline:none;
      margin-right: 3px;
      color:#808080;
      font-size: 14px;
    }
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      color:#CBBCA1;
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }
    .breadcrumbs-separator{
      font-family: "Arial";
      padding: 0 0em 0 0px;
      display: inline-block;
      width: 16px;
      float:left;
      margin-right: 3px;
    }
}

.sub-menu{
	position: relative;
	height: auto;
	float: left;
	width:100%;
	.sub-menu-btn{
        position: relative;
        width: auto;
        height: auto;
        float: left;
        padding: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        /*border-radius: 4px;*/
        /* border: 1px solid #bfbfbf; */
        /* background-color: white; */
        /* color: #6c6f71; */
        margin: 0 10px 0 0;
        /* cursor: pointer; */
        /* font-weight: 600; */
	}
    .sub-menu-btn:hover{
        //background-color: gainsboro;
        //color:#6c6f71;
    }
  .sub-menu-btn.focus{
      //background-color: #6c6f71;
      //color:white;

    }
}

#itemListContainer,#mediaViewContainer,#keysViewContainer{
  position:relative;
  width:100%;
  height:auto;
  padding:0px;
  float: left;
  margin: 20px 0;
  @include border-radius(4px);
  //border: 1px solid #bfbfbf;;
}

.table-header{
	position: relative;
    padding:10px 20px;
	.addBtn{
		position:relative;
		width:10%;
		height:auto;
		float:right;
		color:white;
		background: #9cc53b;
		text-align: center;
		@include border-radius(5px);
		cursor:pointer;
	}
}

.submit{
  position:relative;
  float:right;

}

#pages-container,#subhead_container,#content_container{
	position: relative;
	width: 100%;
	height: auto;
	.table-header{
		position: relative;
		height: auto;
        padding:10px 20px;
		h1{
			float:left;
            font-weight: 300;
            color: #67532F;
		}

	}
}

#subhead_container{
  //min-height: 80px;
}




#takePictureField{
  position: relative;
  margin-top: 5px;
  float:left;
  display:block;
}
#uploadImage{
  position: relative;
  margin-top: 5px;
  float:left;
  width:100%;
  height:auto;
}

#photoStreamContainer{
  float:left;
  position:relative;
  width:100%;
  height:auto;
  padding: 0 10px;
  margin-left: 10px;
  #stream1,#stream2,#stream3{
    float:left;
    width:33%;
    height:auto;
  }
  .image{
    border: 1px solid #808080;
    width:92%;
    height:auto;
    margin:5px 5px;
    padding:2px;
    float:left;
    cursor:pointer;
  }
  .image:hover{
    border: 2px solid $image_highlight_color;
  }
  .fixHeight{
    border: 2px solid #d3d3d3;
    width:163px;
    height:100px;
    margin:7px 7px;
    padding:3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .fixHeight:hover{
    border: 2px solid $image_highlight_color;
  }
}
#paginationContainer{
  position:relative;
  width:100%;
  height:auto;
  float:left;
  margin: 10px 20px;
}

.closeBtn{
	position: absolute;
	width: 19px;
	height: 18px;
	right: -7px;
	top: 3px;
	cursor:pointer;
	background: url("../images/close.png") no-repeat;
}

#topBar{
  position:fixed;
  width:100%;
  height:60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323338;
  z-index:1000;
  #logoutBtn{
    float:right;
    margin:20px 20px;
    margin-left:0px;
    color:white;
    font-size:13px;
    cursor:pointer;
  }
  #logoutBtn:hover{
    color:#DFC37C;
  }
  #mailContainer{
    float: right;
    height:70px;
    margin: 20px 10px;
    margin-right: 0px;
    color: white;
    font-size: 13px;
    #userEmail{
      float:right;
      margin:0px 20px;
      margin-right:0px;
      color:white;
      font-size:13px;
    }
    #changePW{
      position: absolute;
      top: 40px;
      right: 116px;
      color: black;
      padding: 3px;
      font-size: 13px;
      background-color: white;
      cursor:pointer;
    }
  }

  #seperator{
    float:right;
    margin:20px 20px;
    color:white;
    font-size:13px;
  }
}
#tipsBox{
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  display:none;
}

#footer{
  padding-top:10px;
  padding-bottom:30px;
  float: left;
  width: 100%;
  height: auto;
  border-top: 1px #A89676 solid;
  position:relative;
  #reserved_text{
    position:relative;
    float:left;
  }
  #version_number{
    float:right;
  }
}

#banner{
	width: auto;
	height: auto;
	overflow: visible;
	position:relative;
}

.round_btn{
  position:relative;
  height:38px;
  width:auto;
  color:white;
  padding: 0 15px;
  text-align: center;
  margin-top:1em;
  margin-bottom:1em;
  font-weight:bold;
  @include border-radius(5px);
  cursor:pointer;
  font:normal normal 14px/38px Arial,Helvetica,sans-serif;
}

.removeImage{
  top: 12px;
  right: 11px;
  position: absolute;
  width: 17px;
  height: 17px;
  display: none;
  cursor:pointer;
  background: url("../images/delete.png") no-repeat center center;
  background-size: cover;
}


.addKey_box{
  #saveCreateBtn{
    background: deepskyblue;
  }
  #deleteBtn{
    background: #808080;
  }
}

.swapBtn{
  background: url("../images/sort.svg") right center no-repeat;
  width: 40px;
  height: 20px;
  float: right;
}
.swapBtn:hover{
  cursor: url("../images/openhand.cur"),auto;
}

#search{
  width:300px;
  height:40px;
  margin: 12px 12px;
  margin-top: 17px;
  float: right;
  padding-left: 2.25em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/icons/magnifying_glass.png");
  background-position: 0.5em 50%;
  background-repeat: no-repeat;
}

.enableBtn{
  width: 42px;
  height: auto;
  float: right;
  margin: 0 auto;
  position: relative;
  text-align: center;
  position: relative;
  //margin-top: 16px;
  //margin-left: 10px;
  color: white;
  background: #433E5C;
  @include border-radius(59px);

}

.enableBtn:hover {
  background: #9D9AAB;
}

.disable {
  background: grey;
}

.disable:hover {
  background: darkgray;
}

#item_list_boxer, #media_boxer, #keys_boxer{
  float:left;
  margin-top:25px;
  margin-bottom:0px;
}
#item_list_head_title,#media_head_title,#keys_head_title{
  color:#67532F;
}

#resultTable3{
  tr{
    //border-bottom: 2px red;
  }
}

.descriptionText{
  height:60px;
}

.ui-sortable-helper {
  display: table;
}
